@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-[#F5F6F7];
}
ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.container {
  @apply mx-auto w-full xl:max-w-[1200px] px-[15px];
}
