* {
  /* font-family: Inter; */
	font-family: Arial, Helvetica, sans-serif;
  line-height: 27px;
}


/* React Select Custom */
.react-select > div:nth-child(3) {
  cursor:  pointer !important;
  min-height: 30px !important;
  background-color: unset !important;
  border-color: unset !important;
  border-radius: unset !important;
  border-style: unset !important;
  border-width: unset !important;
  box-shadow: unset !important;
}
.react-select > div:nth-child(3) > div:first-child {
  padding: 0px 8px !important;
}
.react-select > div:nth-child(3) > div:first-child > div:last-child {
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.react-select > div:nth-child(3) > div:last-child > div {
  padding: 4px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;